* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	background-image: url('./background.jpg');
	background-size: cover;
	background-position: center;
}
select {
	margin-top: -10rem;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 1.4rem;
	color: #7a4f0f;
	text-shadow: 0.5px 0.5px #6e5b40;
	border-radius: 3px;
	border: 1px solid #6e5b40;
	padding: 1.5px;
	background: none;
	outline: none;
}
.options {
	background-color: rgb(245, 229, 160);
}
.countdown-container {
	display: flex;
	color: #ffe77aff;
	border: 1px solid;
}
.num-text {
	font-size: 4rem;
	font-family: 'Righteous', cursive;
	margin: 0 1rem;
	color: #ffe77aff;
	text-shadow: 0.5px 0.5px #6e5b40;
}
.num-container {
	text-align: center;
}
span {
	text-shadow: 1px 1px brown;
	font-family: 'Niconne', cursive;
	font-size: 1.5rem;
}
